
.wy-menu > .caption > span.caption-text {
  color: #fc7303;
  font-size: large
}

.rst-footer-buttons > .btn > span.fa {
  color: #fc7303
}

.wy-breadcrumbs li a {
  color: #fc7303
}

label {
    padding-top: 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
}















